# Composer files
composer.phar
vendor/

# Local configs
config/development.config.php

# Data
data/logs/
data/cache/
!data/cache/.gitkeep
data/sessions/
data/tmp/
temp/

# Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Eclipse files
.buildpath
.project
.settings/

# Other
.vagrant/
phpunit.xml
