<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stderr="true"
         stopOnFailure="false"
         backupGlobals="false"
         syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Application">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Common">
            <directory>./module/Common/test</directory>
        </testsuite>
        <testsuite name="Setup">
            <directory>./module/Setup/test</directory>
        </testsuite>
        <testsuite name="Translations">
            <directory>./module/Translations/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
			<directory suffix=".php">./module/Application/src</directory>
			<directory suffix=".php">./module/Common/src</directory>
			<directory suffix=".php">./module/Setup/src</directory>
			<directory suffix=".php">./module/Translations/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
